.detail-wrapper {
    .recipe-card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
        background-color: #fff;
        h3 {
           margin-bottom: 15px;
        }
        img {
            align-content: center;
            width: 100%;
            height: 60vh;
            object-fit: cover;
        }
    }
}